h1 div::before {
  display: block;
  background-color: rgba(86, 184, 45, 0.9);
  content: ' ';
  border-radius: 2rem;
  width: 100%;
  height: 0.375em;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  box-shadow: rgba(3, 75, 3, 0.9) 0.25rem 0.25rem 0.5rem;
}

#prune-start {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center center;
  z-index: 3;
  transform: translateX(calc(50vw - 50%)) translateY(calc(50vh - 50%));
}

#prune-start.active {
  transform: translateX(calc(50vw - 50%)) scale(0.5) translateY(-50%);
}

@media screen and (max-width: 800px) {
  header {
    flex-direction: column;
    height: max-content;
  }
  h1,
  .timer {
    font-size: calc(0.5rem + 10vw);
  }
  #prune-start {
    height: 60vw;
    width: 60vw;
    font-size: 15vw;
    transform-origin: center;
    transform: translateX(50%) translateY(50%);
    top: unset;
    left: unset;
    bottom: 50%;
    right: 50%;
  }
  #prune-start.active {
    bottom: 0;
    right: 0;
    transform: translateX(20%) translateY(-60%) scale(0.5);
  }

  main .section-inner {
    font-size: calc(0.5rem + 2vw);
    margin-top: 0;
  }

  header {
    position: relative;
    border-radius: 0;
  }

  main,
  section {
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
  }

  .section-inner {
    border-radius: 0;
  }

  .clock-container {
    top: 1rem;
  }
}
